<div class="header">
    Add Student Page
    
    <button class="btn" id="home-btn" routerLink="../gpd">Home</button>
    
</div>

<div class="float-container">
    <div class="float-child">
    <!-- <div style="margin: 0 auto; width: 20%; margin-top: 20px;"> -->
        <form (submit)="addStudent($event)" ngNativeValidate>
            <div class="form-group">
                <label for="first">First Name</label>
                <input id="first" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="last">Last Name</label>
                <input id="last" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="sbuID">SBUID</label>
                <input id="sbuID" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" required />
            </div>
            <div class="form-group" name="departmentForm">
                <label for="dept">Department</label>
                <!-- <input id="dept" type="text" class="form-control" required /> -->
                <select class="form-control" required (change)="getTrack($event)">
                    <option value="" disabled selected>Select Department</option>
                    <option value="dept">{{dept}}</option>
                </select>
            </div>
            <div class="form-group" id="track" name="trackForm" style="display:none;">
                <label for="track">Track</label>
                <select id="track" type="text" class="form-control">
                    <option *ngFor="let track of tracks">
                        {{track}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="entrySemester">Entry Semester</label>
                <select class="form-control" required>
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="entryYear">Entry Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="reqSemester">Requirement Version Semester</label>
                <select class="form-control" required>
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reqYear">Requirement Version Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="gradSemester">Graduation Semester</label>
                <select class="form-control" required>
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gradYear">Graduation Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="advisor">Advisor</label>
                <input id="advisor" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <div>
                    <label for="comment">Comments</label>
                    <input type="text" name="comments" id="comments" style="height: 125px;">
                </div>
            </div>
            
            <button class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>