<div class="header">
    Add Student Page
    
    <button class="btn" id="home-btn" routerLink="../gpd">Home</button>
    
</div>

<div class="float-container">
    <div class="float-child">
    <!-- <div style="margin: 0 auto; width: 20%; margin-top: 20px;"> -->
        <form (submit)="addStudent($event)" >
            <div class="form-group">
                <label for="first">First Name</label>
                <input id="first" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="last">Last Name</label>
                <input id="last" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="sbuID">SBUID</label>
                <input id="sbuID" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="dept">Department</label>
                <input id="dept" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="track">Track</label>
                <input id="track" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="entrySemester">Entry Semester</label>
                <select class="form-control">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="entryYear">Entry Year</label>
                <input id="entryYear" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="reqSemester">Requirement Version Semester</label>
                <select class="form-control">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reqYear">Requirement Version Year</label>
                <input id="reqYear" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="gradSemester">Graduation Semester</label>
                <select class="form-control">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gradYear">Graduation Year</label>
                <input id="gradYear" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="advisor">Advisor</label>
                <input id="advisor" type="text" class="form-control">
            </div>
            <div class="form-group">
                <div class="radio-inline">
                    <label><input type="radio" name="optradio" class="form-control">Thesis</label>
                    <label><input type="radio" name="optradio" class="form-control">Project</label>
                </div>
            </div>
            
            <button class="btn btn-primary">Confirm</button>
        </form>
    </div>
    <div class="float-child">
        <form>
            <div>
                <label for="comment">Comments</label>
                <input type="text" name="comments" id="comments" style="height: 200px;">
            </div>
            <button style="margin-top: 10px; margin-left: 120px;"class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>