<div class="header">
    Suggest Course Plan
    <button class="btn" id="back-btn" [routerLink]="['/search']" routerLinkActive="router-link-active">Back</button>    
</div>

<div id="drop-container">
    <span class="dropdowns"> 
        Add Preferred Courses
        <div>
            <mat-label id="label">Choose Department</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <select matNativeControl>
                    <option value="CSE">CSE</option>
                    <option value="ESE">ESE</option>
                    <option value="BMI">BMI</option>
                    <option value="AMS">AMS</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width:75%" id="filter">
            <mat-label id="label">Choose Course</mat-label>
            <mat-select>
                <mat-option *ngFor="let course of c" [value]="course">
                    {{course}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-button (click)=addItemPref() class="btn" id="addToList">Add Course to List</button>
        </div>
    </span>
    <span class="dropdowns"> 
        Add Courses to Avoid
        <div>
            <mat-label id="label">Choose Department</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <select matNativeControl>
                    <option value="CSE">CSE</option>
                    <option value="ESE">ESE</option>
                    <option value="BMI">BMI</option>
                    <option value="AMS">AMS</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-label id="label">Choose Course</mat-label>
            <mat-form-field style="width:75%" id="filter">
            <mat-select>
                <mat-option *ngFor="let course of c" [value]="course">
                    {{course}}
                  </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button class="btn" id="addToAvoidList">Add Course to Avoid List</button>
        </div>
    </span>
    <span class="dropdowns"> 
        Time Constraints
        <div>
            <mat-label id="label">Start Time</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <input matInput type="time">
            </mat-form-field>
        </div>
        <div>
            <mat-label id="label">End Time</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <input matInput type="time">
            </mat-form-field>
        </div>
        <div><br></div>
    </span>
    <span class="dropdowns"> 
        Max Number of Courses
        <div>
            <mat-label id="label">Number</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div>
            <mat-label id="label">Semester</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <select matNativeControl>
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-label id="label">Year</mat-label>
            <ngb-datepicker #dp id= "yearchooser" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}"></ngb-datepicker>
        </div>
    </span>
</div>
<div>
    <span>
        <table mat-table #table matSort class="mat-elevation-z8" [dataSource]="coursesToAddList" matSortDirection="asc" style="width:50%"> 
            <ng-container matColumnDef="add">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Courses To Add</th>
                <td mat-cell *matCellDef="let coursesToAddList">{{coursesToAddList.courseName}}</td>
            </ng-container>
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preference Weight</th>
                <td mat-cell *matCellDef="let coursesToAddList">{{coursesToAddList.prefWeight}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="courseAdd"></tr>
            <tr mat-row *matRowDef="let row; columns: courseAdd;"></tr>
        </table>
        <table mat-table #table matSort class="mat-elevation-z8" [dataSource]="coursesToAvoidList" matSortDirection="asc" style="width:50%"> 
            <ng-container matColumnDef="avoid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Courses To Avoid</th>
                <td mat-cell *matCellDef="let coursesToAvoidList">{{coursesToAvoidList.courseName}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="courseAvoid"></tr>
            <tr mat-row *matRowDef="let row; columns: courseAvoid;"></tr>
        </table>
    </span>
</div>
<button class="btn" id="suggest-courses-btn">Suggest Courses</button>
