<div class="header">
    Suggest Course Plan
    <button class="btn" id="back-btn" [routerLink]="['/search']" routerLinkActive="router-link-active">Back</button>    
</div>

<div id="drop-container">
    <span class="dropdowns"> 
        Add Preferred Courses
        <!-- <div>
            <mat-label id="label">Choose Department</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <select matNativeControl>
                    <option value="CSE">CSE</option>
                    <option value="ESE">ESE</option>
                    <option value="BMI">BMI</option>
                    <option value="AMS">AMS</option>
                </select>
            </mat-form-field>
        </div> -->
        <div>
            <mat-form-field style="width:75%" id="filter">
            <mat-label id="label">Choose Course</mat-label>
            <mat-select (selectionChange)="addItemPref($event)">
                <mat-option *ngFor="let course of courseNames" [value]="course">
                    {{course}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div>
            <input type="checkbox" id="weightCheckbox" (click)="checkboxCheck()"> Weight Course Preferences?
        </div>
    </span>
    <span class="dropdowns"> 
        Add Courses to Avoid
        <!-- <div>
            <mat-label id="label">Choose Department</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <select matNativeControl>
                    <option value="CSE">CSE</option>
                    <option value="ESE">ESE</option>
                    <option value="BMI">BMI</option>
                    <option value="AMS">AMS</option>
                </select>
            </mat-form-field>
        </div> -->
        <div>
            <mat-form-field style="width:75%" id="filter">
                <mat-label id="label">Choose Course</mat-label>
                <mat-select (selectionChange)="addItemAvoid($event)">
                    <mat-option *ngFor="let course of courseNames" [value]="course">
                        {{course}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div>
        </div>
    </span>
    <span class="dropdowns"> 
        Time Constraints
        <div>
            <mat-label id="label">Start Time</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <input matInput type="time">
            </mat-form-field>
        </div>
        <div>
            <mat-label id="label">End Time</mat-label>
            <mat-form-field style="width:75%" id="filter">
                <input matInput type="time">
            </mat-form-field>
        </div>
        <div><br></div>
    </span>
    <span class="dropdowns" style="height:1%"> 
        Max Number of Courses
        <span > 
            <mat-card *ngFor="let semester of semesterList">
                <mat-label id="label" style="padding-right: 10%;">{{semester}}</mat-label>
                <mat-form-field class="semesterList" style="width:50%" id="filter">
                    <input matInput type="number" min="0">
                </mat-form-field>
            </mat-card>
        </span>
    </span>
</div>
<div>
    <span class = "row">
        <table mat-table #table matSort class="mat-elevation-z8 column" [dataSource]="coursesToAddList" matSortDirection="asc" style="width:45%"> 
            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>Courses To Add</th>
                <td mat-cell *matCellDef="let coursesToAddList; let i = index">{{coursesToAddList.courseName}}</td>
            </ng-container>
            <ng-container id="weightsID" matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>Preference Weight</th>
                <td mat-cell *matCellDef="let coursesToAddList; let i = index">{{i + 1}}</td>
            </ng-container>
            <ng-container id="actionsID" matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button style="width:20%" (click)="moveUp(row)" class="upButton" mat-button>↑</button>
                    <button style="width:20%" (click)="moveDown(row)" class="downButton" mat-button>↓</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="courseAdd"></tr>
            <tr mat-row *matRowDef="let row; columns: courseAdd;"></tr>
        </table>
        <table mat-table #table matSort class="mat-elevation-z8 column" [dataSource]="coursesToAvoidList" matSortDirection="asc" style="width:45%"> 
            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef>Courses To Avoid</th>
                <td mat-cell *matCellDef="let coursesToAvoidList">{{coursesToAvoidList.courseName}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="courseAvoid"></tr>
            <tr mat-row *matRowDef="let row; columns: courseAvoid;"></tr>
        </table>
    </span>
</div>
<button class="btn" id="suggest-courses-btn">Suggest Courses</button>
