<div class="header">
    {{s.first}} {{s.last}}
    
    <div *ngIf="whosLoggedIn != 'Student'; else elseBlock">
        <button class="btn" id="home-btn" routerLink="../gpd">Home</button>
    </div>
    <ng-template #elseBlock>
        <button class="btn" id="home-btn" routerLink="../student">Home</button>
    </ng-template>
    
    
</div>

<div *ngIf="whosLoggedIn != 'Student'">
    <button class="btn btn-primary" id="deleteBtn" style="margin-right: 15px;" (click)="deleteStudent()">Delete</button>
</div>
<div class="float-container">
    <div class="float-child">
    <!-- <div style="margin: 0 auto; width: 20%; margin-top: 20px;"> -->
        <form (submit)="editStudent($event)" ngNativeValidate>
            <div class="form-group">
                <label for="first">First Name</label>
                <input id="first" type="text" class="form-control" required value="{{s.first}}"/>
            </div>
            <div class="form-group">
                <label for="last">Last Name</label>
                <input id="last" type="text" class="form-control" required value="{{s.last}}"/>
            </div>
            <div class="form-group">
                <label for="sbuID">SBUID</label>
                <input id="sbuID" type="text" class="form-control" required value="{{s.sbuID}}" disabled = true/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" required value="{{s.email}}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="text" class="form-control" required value="**********"/>
            </div>
            <div class="form-group" name="departmentForm">
                <label for="dept">Department</label>
                <!-- <input id="dept" type="text" class="form-control" required /> -->
                <select class="form-control" required >
                    <!-- <option value="" disabled selected>Select Department</option> -->
                    <option [ngValue]="dept">{{dept}}</option>
                </select>
            </div>
            <div class="form-group" id="track" name="trackForm" style="display:none;">
                <label for="track">Track</label>
                <select id="track" type="text" class="form-control">
                    <option disabled selected>{{s.track}}</option>
                    <option *ngFor="let track of tracks">
                        {{track}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="entrySemester">Entry Semester</label>
                <select class="form-control" required value="{{s.entrySemester}}">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div>
                <label for="currentGradYear">Current Entry Year</label>
                <mat-card> {{s.entryYear}} </mat-card>
            </div>
            <div class="form-group">
                <label for="entryYear">Entry Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="reqSemester">Requirement Version Semester</label>
                <select class="form-control" required value="{{s.reqVersionSemester}}">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div>
                <label for="currentGradYear">Current Requirement Version Year</label>
                <mat-card> {{s.reqVersionYear}} </mat-card>
            </div>
            <div class="form-group">
                <label for="reqYear">Requirement Version Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group">
                <label for="gradSemester">Graduation Semester</label>
                <select class="form-control" required value="{{s.gradSemester}}">
                    <option value="Spring">Spring</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div>
                <label for="currentGradYear">Current Graduation Year</label>
                <mat-card> {{s.gradYear}} </mat-card>
            </div>
            <div class="form-group">
                <label for="gradYear">Graduation Year</label>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}" style="display:block"></ngb-datepicker>
            </div>
            <div class="form-group" >
                <label for="advisor">Advisor</label>
                <div *ngIf="whosLoggedIn != 'Student'">
                    <input id="advisor" type="text" class="form-control" value="{{s.advisor}}"/>
                </div>
                <div *ngIf="whosLoggedIn == 'Student'">
                    <input id="advisor" type="text" class="form-control" value="{{s.advisor}}" disabled=true/>
                </div>
            </div>
            <div>
                <div style="color:gray;font-style: italic;">Double click a comment to delete it.</div>
                <label for="comment">Comments:</label>
                <!-- <mat-card *ngFor="let comment of s.comments" (dblclick)="deleteComment(event)">
                    {{comment}} 
                    <br>
                </mat-card> -->
                <div *ngIf="whosLoggedIn != 'Student'" >
                    <mat-card *ngFor="let comment of s.comments" (dblclick)="deleteComment(event)">{{comment}} <br>
                    </mat-card>
                </div>
                <div *ngIf="whosLoggedIn == 'Student'" >
                        <mat-card *ngFor="let comment of s.comments">{{comment}} <br>
                            <!-- <button id="deleteBtn" (click)="deleteComment(event)">Delete</button> -->
                        </mat-card>
                </div>
                
            </div>
            <br>
            <div class="form-group" *ngIf="whosLoggedIn != 'Student'">
                <div>
                    <label for="comment">Add a Comment</label>
                    <input type="text" name="comments" id="comments" style="height: 125px;">
                </div>
            </div>
            
            <div>
                <button class="btn btn-primary" style="margin-right: 15px;">Confirm</button>
            </div>
            
        </form>
        <br>
        <br>
        <div *ngIf="whosLoggedIn != 'Student'">
            <button class="btn btn-primary" [routerLink]="['/search']" routerLinkActive="router-link-active" >Back</button>
        </div>
        <div *ngIf="whosLoggedIn == 'Student'">
            <button class="btn btn-primary" [routerLink]="['/student']" routerLinkActive="router-link-active" >Back</button>     
        </div>
    </div>
</div>

<div *ngIf= "dept == 'AMS'">
    <h3>Degree Requirements</h3>
    <div *ngIf="s.meetsCreditMinimum">
        <p>
            Credits needed to graduate: {{ams.credits}}
        </p>
        Total Credits: {{s.credits}}
        <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>
    <div *ngIf="!s.meetsCreditMinimum">
        <p>Credits needed to graduate: {{ams.credits}}
            
        </p>
        Total Credits: {{s.credits}}
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    </div>
    
    <div *ngIf="s.hasAmsFinalRec">
        <p>Final Recomendation</p>
        <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>
    <div *ngIf="!s.meetsCreditMinimum">
        <p>Final Recomendation</p>
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    </div>
    
    <div *ngIf="s.meetsGPA">
        <p>
            Minimum GPA: {{ams.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </p>
        
    </div>
    <div *ngIf="!s.meetsGPA">
        <p>
            Minimum GPA: {{ams.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.gradYear - s.entryYear <= 3">
        Must graduate in {{ams.timeLimit}} years
        <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>
    <div *ngIf="s.gradYear - s.entryYear > 3">
        <p>Must graduate in {{ams.timeLimit}} years
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="track=='CAM'">
        <div *ngIf="s.requiredCourses.length == 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div>
        <div *ngIf="s.requiredCourses.length != 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div> 
    </div>

    <div *ngIf="track== 'CB'">
        <div *ngIf="s.requiredCourses.length == 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div>
        <div *ngIf="s.requiredCourses.length != 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div> 
        <div *ngIf="s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesCB}}
            </p>
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesCB}}
            </p>
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>  
    </div>

    <div *ngIf="track=='OR'">
        <div *ngIf="s.requiredCourses.length == 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div>
        <div *ngIf="s.requiredCourses.length != 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div> 
        <div *ngIf="s.hasAmsORStatComplete">
            <p>Number of statistic courses needed: {{ams.numStatisticCoursesOR}}
            </p>
            Number of STAT courses taken: {{s.numAmsStatCourses}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.hasAmsORStatComplete">
            <p>Number of statistic courses needed: {{ams.numStatisticCoursesOR}}
            </p>
            Number of STAT courses taken: {{s.numAmsStatCourses}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>

    </div>

    <div *ngIf="track=='STAT'">
        <div *ngIf="s.requiredCourses.length == 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div>
        <div *ngIf="s.requiredCourses.length != 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div> 
        <div *ngIf="s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesSTAT}}
            </p>
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesSTAT}}
            </p>
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>  
    </div>

    <div *ngIf="track=='QF'">
        <div *ngIf="s.requiredCourses.length == 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div>
        <div *ngIf="s.requiredCourses.length != 0">
            <p>Required Courses Left:
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
                {{s.requiredCourses}}
            </p>
        </div> 
        <div *ngIf="s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesQF}}
            </p>
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.meetsElectiveCreditMinimum">
            <p>Number of elective courses needed: {{ams.numElectiveCoursesQF}}
            </p>
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>  
    </div>
</div>


<div *ngIf= "dept == 'BMI'">
    <h3>Degree Requirements</h3>
    <div *ngIf="s.meetsCreditMinimum">
        <p>Credits needed to graduate: {{bmi.credits}}</p>
        Total Credits: {{s.credits}}
        <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>
    <div *ngIf="!s.meetsCreditMinimum">
        <p>Total number of credits needed: {{bmi.credits}}
        </p>
        Total Credits: {{s.credits}}
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    </div>

    <div *ngIf="s.meetsGPA">
        <p>
            Minimum GPA: {{bmi.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </p>
        
    </div>
    <div *ngIf="!s.meetsGPA">
        <p>
            Minimum GPA: {{bmi.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>
    
    <p>Minimum Credits per semester: {{bmi.creditMinimumPerSemester}}</p>

    <div *ngIf="s.gradYear - s.entryYear <= 3">
        Must graduate in {{bmi.timeLimit}} years
        <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>
    <div *ngIf="s.gradYear - s.entryYear > 3">
        <p>Must graduate in {{bmi.timeLimit}} years
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.requiredCourses.length == 0">
        <p>Required Courses Left:
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    
            {{s.requiredCourses}}
        </p>
    </div>
    <div *ngIf="s.requiredCourses.length > 0">
        <p>Required Courses Left:
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    
            {{s.requiredCourses}}
        </p>
    </div> 
    
    
</div>

<div *ngIf= "dept == 'CSE'">
    <h3>Degree Requirements</h3>
    
    <div *ngIf="s.meetsCreditMinimum">
        <p>
            Credits needed to graduate: {{cse.credits}}
        </p>
        Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        
    </div>
    <div *ngIf="!s.meetsCreditMinimum">
        <p>
            Total number of credits needed: {{cse.credits}}
        </p>
        Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    </div>

    <div *ngIf="s.meetsGPA">
        <p>
            Minimum GPA: {{cse.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </p>
    </div>
    <div *ngIf="!s.meetsGPA">
        <p>
            Minimum GPA: {{cse.gpa}} 
        </p>
        <p>
            Current GPA: {{s.gpa}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.requiredCourses.length == 0">
        <p>Required Courses Left:
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
    
            {{s.requiredCourses}}
            </p>
    </div>
    <div *ngIf="s.requiredCourses.length > 0">
        <p>Required Courses Left:
        <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>

        {{s.requiredCourses}}
        </p>
    </div> 

    <div *ngIf="s.hasCseTheoryCourses">
        <p>
            Number of Theory courses needed: {{cse.numBreadthCourses}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </p>
    </div>
    <div *ngIf="!s.hasCseTheoryCourses">
        <p>
            Number of Theory courses needed: {{cse.numBreadthCourses}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.hasCseSystemsCourse">
        <p>
            Number of Systems courses needed: {{cse.numBreadthCourses}}
          
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>
    <div *ngIf="!s.hasCseSystemsCourse">
        <p>
            Number of Systems courses needed: {{cse.numBreadthCourses}}
           
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.hasCseIISCourse">
        <p>
            Number of Information and Intelligent Systems courses needed: {{cse.numBreadthCourses}}
          
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
        
    </div>
    <div *ngIf="!s.hasCseIISCourse">
        <p>
            Number of Information and Intelligent Systems courses needed: {{cse.numBreadthCourses}}
            
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </p>
    </div>

    <div *ngIf="s.track == 'Special Track'">
        <div *ngIf="s.hasCseBasicCourses">
            <p>
                Number of basic courses needed: {{cse.numCseBasicCourses}}
            </p> 
            Number of basic courses taken: {{s.numCseBasicCourses}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.hasCseBasicCourses">
            <p>Number of basic courses needed: {{cse.numCseBasicCourses}}</p>
            Number of basic courses taken: {{s.numCseBasicCourses}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
    </div>
</div>

<div *ngIf= "dept == 'ESE'">
    <div *ngIf='s.track == Non-Thesis'>
        <h3>Degree Requirements</h3>
        <div *ngIf="s.meetsCreditMinimum">
            <p>Credits needed to graduate: {{ece.creditMinimumNT}}</p>
            Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.meetsCreditMinimum">
            <p>Credits needed to graduate: {{ece.creditMinimumNT}}</p>
            Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>

        <div *ngIf="s.meetsGPA">
            <p>
                Minimum GPA: {{ece.gpa}} 
            </p>
            <p>
                Current GPA: {{s.gpa}}
                
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            </p>
        </div>
        <div *ngIf="!s.meetsGPA">
            <p>
                Minimum GPA: {{ece.gpa}} 
            </p>
            <p>
                Current GPA: {{s.gpa}}
                
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            </p>
        </div>

        <div *ngIf="s.hasEceHardwareCourse">
            <p>Number of Hardware courses needed: {{ece.numCreditsSubAreas1NT}}</p>
            Number of Hardware courses taken: {{s.numEceHardwareCourse}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
            
        </div>
        <div *ngIf="!s.hasEceHardwareCourse">
            <p>Number of Hardware courses needed: {{ece.numCreditsSubAreas1NT}}
            </p>
            Number of Hardware courses taken: {{s.numEceHardwareCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>

        <div *ngIf="s.hasEceNetworkingCourse">
            <p>Number of Networking courses needed: {{ece.numCreditsSubAreas1NT}}
            </p>
            Number of Networking courses taken: {{s.numEceNetworkCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            
        </div>
        <div *ngIf="!s.hasEceNetworkingCourse">
            <p>Number of Networking courses needed: {{ece.numCreditsSubAreas1NT}}
            </p>
            Number of Networking courses taken: {{s.numEceNetworkCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>

        <div *ngIf="s.hasEceCadCourse">
            <p>Number of CAD and VLSI courses needed: {{ece.numCreditsSubAreas1NT}}
            </p>
            Number of CAD and VLSI courses taken: {{s.numEceCadCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            
        </div>
        <div *ngIf="!s.hasEceCadCourse">
            <p>Number of CAD and VLSI Systems courses needed: {{ece.numCreditsSubAreas1NT}}
            </p>
            Number of CAD and VLSI courses taken: {{s.numEceCadCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>

        <div *ngIf="s.hasEceTheoryCourse">
            <p>Number of Theory and Software courses needed: {{ece.numCreditsSubAreas2NT}}
            </p> 
            Number of Theory and Software courses taken: {{s.numEceCadCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.hasEceTheoryCourse">
            <p>Number of Theory and Software courses needed: {{ece.numCreditsSubAreas2NT}}
            </p>
            Number of Theory and Software courses taken: {{s.numEceCadCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
  
 
        <div *ngIf="s.hasEce597Credits">
            <p>Number of ECE597 Credits needed: {{ece.minCreditsESE597NT}}
            </p> 
            Number of ECE597 taken: {{s.numEse597Credits}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.hasEce597Credits">
            <p>Number of ECE597 Credits needed: {{ece.minCreditsESE597NT}}
            </p>
            Number of ECE597 taken: {{s.numEse597Credits}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
   

        <div *ngIf="s.hasEceRegularCredits">
            <p>Number of Regular courses needed: {{ece.numRegularCoursesNT}}
            </p> 
            Number of Regular courses taken: {{s.numEceRegularCredits}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.hasEceTheoryCourse">
            <p>Number of Regular courses needed: {{ece.numRegularCoursesNT}}
            </p>
            Number of Regular courses taken: {{s.numEceRegularCredits}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
    
    </div>

    <div *ngIf='s.track == Thesis'>
        <h3>Degree Requirements</h3>
        <div *ngIf="s.meetsCreditMinimum">
            <p>Credits needed to graduate: {{ece.creditMinimumT}}</p>
            Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
        </div>
        <div *ngIf="!s.meetsCreditMinimum">
            <p>Total number of credits needed: {{ece.creditMinimumT}}
            </p>
            Total Credits: {{s.credits}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>

        <div *ngIf="s.meetsGPA">
            <p>
                Minimum GPA: {{ece.gpa}} 
            </p>
            <p>
                Current GPA: {{s.gpa}}
                
                <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
            </p>
            
        </div>
        <div *ngIf="!s.meetsGPA">
            <p>
                Minimum GPA: {{ece.gpa}} 
            </p>
            <p>
                Current GPA: {{s.gpa}}
                
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            </p>
        </div>

        <div *ngIf="s.hasEceHardwareCourse">
            <p>Number of Hardware courses needed: {{ece.numCreditsSubAreas1T}}</p>
            Number of Hardware courses taken: {{s.numEceHardwareCourse}}
            <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
            
        </div>
        <div *ngIf="!s.hasEceHardwareCourse">
            <p>Number of Hardware courses needed: {{ece.numCreditsSubAreas1T}}</p>
            Number of Hardware courses taken: {{s.numEceHardwareCourse}}
            <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
   
        </div>

        <div *ngIf="s.hasEceNetworkingCourse">
            <p>Number of Networking courses needed: {{ece.numCreditsSubAreas1T}}</p>
                Number of Networking courses taken: {{s.numEceNetworkCourse}}
                <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>

            
        </div>
        <div *ngIf="!s.hasEceNetworkingCourse">
            <p>Number of Networking courses needed: {{ece.numCreditsSubAreas1T}}</p>
                Number of Networking courses taken: {{s.numEceNetworkCourse}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
    
        </div>

        <div *ngIf="s.hasEceCadCourse">
            <p>Number of CAD and VLSI courses needed: {{ece.numCreditsSubAreas1T}}</p>
                Number of CAD and VLSI courses taken: {{s.numEceCadCourse}}
                <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
         
            
        </div>
        <div *ngIf="!s.hasEceCadCourse">
            <p>Number of CAD and VLSI Systems courses needed: {{ece.numCreditsSubAreas1T}}</p>
                Number of CAD and VLSI courses taken: {{s.numEceCadCourse}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
       
        </div>


        <div *ngIf="s.hasEceTheoryCourse">
            <p>Number of Theory and Software courses needed: {{ece.numCreditsSubAreas2T}}</p>
                Number of Theory and Software courses taken: {{s.numEceTheoryCourse}}
                <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
      
        </div>
        <div *ngIf="!s.hasEceTheoryCourse">
            <p>Number of Theory and Software courses needed: {{ece.numCreditsSubAreas2T}}</p>
                Number of Theory and Software courses taken: {{s.numEceTheoryCourse}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
          
        </div>
    
 
        <div *ngIf="s.hasEce597Credits">
            <p>Number of ECE597 Credits needed: {{ece.minCreditsESE597T}}</p>
                Number of ECE597 taken: {{s.numEse597Credits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
            
        </div>
        <div *ngIf="!s.hasEce597Credits">
            <p>Number of ECE597 Credits needed: {{ece.minCreditsESE597T}}</p>
                Number of ECE597 taken: {{s.numEse597Credits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        
        </div>

        <div *ngIf="s.hasEce599Credits">
            <p>Number of ECE599 Credits needed: {{ece.minCreditsESE599T}}</p>
                Number of ECE599 credits: {{s.numEse599Credits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
      
        </div>
        <div *ngIf="!s.hasEce599Credits">
            <p>Number of ECE599 Credits needed: {{ece.minCreditsESE599T}}</p>
                Number of ECE599 credits: {{s.numEse599Credits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
     
        </div>
   

        <div *ngIf="s.hasEceRegularCredits">
            <p>Number of Regular courses needed: {{ece.numRegularCoursesT}}</p>
                Number of Regular courses taken: {{s.numEceRegularCredits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
     
        </div>
        <div *ngIf="!s.hasEceTheoryCourse">
            <p>Number of Regular courses needed: {{ece.numRegularCoursesT}}</p>
                Number of Regular courses taken: {{s.numEceRegularCredits}}
                <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
          
        </div>
    </div>
</div>

<div *ngIf='s.hasThesis'>
    Thesis <mat-checkbox disabled [checked]= "checked" ></mat-checkbox>
</div>
<div *ngIf='!s.hasThesis'>
    <div *ngIf=whosLoggedIn != 'Student'>
        <div *ngIf="s.track == 'Thesis' || s.track == 'Imaging, Thesis' || s.track == 'Clinical, Thesis' || s.track == 'Translational, Thesis'">
            Thesis <mat-checkbox (change)='setThesis()' [checked]= "!checked" ></mat-checkbox>
        </div>
    </div>
    <div *ngIf="whosLoggedIn == 'Student'">
        <div *ngIf="s.track == 'Thesis' || s.track == 'Imaging, Thesis' || s.track == 'Clinical, Thesis' || s.track == 'Translational, Thesis'">
            Thesis <mat-checkbox disabled [checked]= "!checked" ></mat-checkbox>
        </div>
    </div>
</div>

