<div class="header">
    Student Name
    <button (click)=logout() id="logout-btn">Logout</button>
</div>

<body>
    <div class="center">
        <div id="card-content">
            <button id="submit-btn">View Course Information</button>
        </div>
        <div id="card-content">
    
            <button id="submit-btn">View/Edit Student Information</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" >Suggest Course Plan</button>
        </div>
    </div> 
</body>