<div class="header">
    Gpd Name
    <button id="logout-btn" routerLink="">Logout</button>
</div>

<body>
    <div class="center">
        <div id="card-content">
            <button id="submit-btn">Import Student Data</button>
        </div>
        <div id="card-content">
            <button id="submit-btn">Import Grades</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" >Scrape Course Information</button>
        </div>
        <div id="card-content">
            <button id="submit-btn">Import Degree Requirements</button>
        </div>
        <div id="card-content">
            <button id="submit-btn">Import Course Offerings</button>
        </div>
    </div> 
    <div class="center">
        <div id="card-content">
            <button id="submit-btn">Browse for Student</button>
        </div>
        <div id="card-content">
    
            <button id="submit-btn">View Course Information</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" >Enrollment Trends</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" (click)="onDelete()">Delete All Student Data</button>
        </div>
    </div> 
</body>