<div class="header">
    {{gpd}} GPD
    <button class="btn" id="logout-btn" (click)=logout()>Logout</button>
    <!-- <button id="logout-btn" (click)="logout()" routerLink="">Logout</button> -->
</div>



<body>
    <div class="center">
        <div id="card-content">           
            <input #student (change)="uploadStudentData($event)" id="upload-student-data" type="file" multiple hidden/> 
            <label (click)="alertForUploadStudent(student)" id="submit-btn">Import Student Data</label>
        </div>
        <div id="card-content">
            <input #grade (change)="uploadGrade($event)" id="upload-grades" type="file" hidden/> 
            <label (click)="alertForUploadGrade(grade)" id="submit-btn">Import Grades</label>
        </div>
        <div id="card-content">
            <input #fileInput (change)="scrapeCourseInfo($event)" id="scrapeCourseInfo" type="file" hidden/> 
            <label (click)="openDialog(fileInput)" id="submit-btn">Scrape Course Information</label>
        </div>
         
        <div id="card-content">
            <input #degrees (change)="uploadDegreeReqs($event)" id="upload-degree-reqs" type="file" hidden/> 
            <label (click)="alertForUploadDegrees(degrees)" id="submit-btn">Import Degree Requirements</label>
        </div>
        <div id="card-content">
            <input #courses (change)="uploadCourse($event)" id="upload-course" type="file" hidden/> 
            <label (click)="alertForUploadCourses(courses)" id="submit-btn">Import Courses Offerings</label>
        </div>
    </div> 
    <div class="center">
        <div id="card-content">
            <button id="submit-btn" routerLink="../search">Browse for Student</button>
        </div>
        <div id="card-content">
    
            <button id="submit-btn" routerLink="../courseInfo">View Course Information</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" routerLink="../enrollmentTrends">Enrollment Trends</button>
        </div>
        <div id="card-content">
            <button id="submit-btn" (click)="onDelete()">Delete All Student Data</button>
        </div>
    </div> 
</body>
