<div class="header">
    View Course Plan
    <div *ngIf="whosLoggedIn != 'Student'">
        <button class="btn" id="back-btn" [routerLink]="['/search']" routerLinkActive="router-link-active">Back</button>
    </div> 
    <div *ngIf="whosLoggedIn == 'Student'">
        <button class="btn" id="back-btn" routerLink="../student">Back</button>
    </div>   
</div>

<div>
    <table mat-table #table matSort class="mat-elevation-z8" [dataSource]="dataSource" matSortDirection="asc" style="width:100%"> 
        <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
                <td mat-cell *matCellDef="let course">{{course.course}}</td>
            </ng-container>
            <ng-container matColumnDef="sem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Semester/Year</th>
                <td mat-cell *matCellDef="let course">{{course.semesterYear}}</td>
            </ng-container>
            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade</th>
                <td mat-cell *matCellDef="let course">{{course.grade}}</td>
            </ng-container>
        <tr mat-header-row *matHeaderRowDef="courseView"></tr>
        <tr mat-row *matRowDef="let row; columns: courseView;"></tr>
    </table>
</div>