<div class="header">
    Student Search Page
    
    <button routerLink="/" routerLinkActive="active" class="btn" id="logout-btn">Logout</button>
    <button routerLink="/gpd" class="btn" id="home-btn">Home</button>
    <button routerLink="/addStudent" routerLinkActive="active" class="btn" id="add-btn">Add Student</button>
</div>
<div>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Name Filter">
            </mat-form-field>
            <br>
          <mat-label id="label">Course Plan Validity</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="courseInvalid">Valid</option>
                <option value="courseValid">Invalid</option>
            </select>
          </mat-form-field>
          <mat-label id="label">Course Plan Completeness</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="courseValidity">Complete</option>
                <option value="courseCompleteness">Incomplete</option>
            </select>
          </mat-form-field>
          <mat-label id="label">Graduation Semester</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="semesterFall">Fall</option>
                <option value="semesterSpring">Spring</option>
            </select>
          </mat-form-field>
        <mat-label id="label">Graduation Year</mat-label>
        <mat-form-field id="filter">
          <select matNativeControl required>
              <option value="yearAscending">Ascending</option>
              <option value="yearDescending">Descending</option>
          </select>
        </mat-form-field>
        <!-- </mat-form-field>
          <mat-label id="label">Choose a date</mat-label>
          <mat-form-field id="filter">
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
        </div>
    </form>
</div>
<div>
    <mat-table #table matSort class="mat-elevation-z8" [dataSource]="dataSource"> 
        <ng-container matColumnDef="sbuID">
            <mat-header-cell *matHeaderCellDef mat-sort-header>SBU ID</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.sbuID}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.last}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.first}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dept">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.dept}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="track">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Track</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.track}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="satisfied">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Satisfied</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.satisfied}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pending">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Pending</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.unsatisfied}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="unsatisfied">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Unsatisfied</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.unsatisfied}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gradYear">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Graduation Year</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.gradYear}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gradSemester">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Graduation Semester</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.gradSemester}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="semesters">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Semesters in Program</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.semesters}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="graduated">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Graduated</mat-header-cell>
            <mat-cell *matCellDef="let student">{{student.graduated}}</mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="searchColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: searchColumns;"></tr>
    </mat-table>
</div>