<div class="header">
    Student Search Page
    
    <button class="btn" id="logout-btn" (click)=logout()>Logout</button>
    <button routerLink="/gpd" class="btn" id="home-btn">Home</button>
    <button routerLink="/addStudent" routerLinkActive="active" class="btn" id="add-btn">Add Student</button>
</div>
<br>
<div>
    <form id="filterBar" class="form-inline waves-light" mdbWavesEffect style="width:100%">
        <div class="md-form mt-0">
            <mat-label id="label">Name Filter</mat-label>
            <mat-form-field>
                <input class="searchBar" matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
            <br>
            <mat-label id="label">Graduation Semester</mat-label>
            <mat-form-field style="width:25%" id="filter">
                <select matNativeControl (change)="semSelect($event.target.value)">
                    <option value="All">All</option>
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
            </mat-form-field>
            <mat-label id="label">Graduation Year</mat-label>
            <ngb-datepicker #dp [(ngModel)]="model" (input)="changeDate($event.target.value)" name="year" [maxDate]="{year:2030, month: 1, day: 1}" [minDate]="{year:1985, month: 1, day: 1}"></ngb-datepicker>
            <button mat-button (click)=resetYearFilter()>Reset Year Filter</button>
            <br>
          <mat-label id="label">Course Plan Validity</mat-label>
          <mat-form-field style="width:25%" id="filter">
            <select matNativeControl (change)="validitySelect($event.target.value)">
                <option value="All">All</option>
                <option value="courseValid">Valid</option>
                <option value="courseInvalid">Invalid</option>
            </select>
          </mat-form-field>
          <mat-label id="label">Course Plan Completeness</mat-label>
          <mat-form-field style="width:25%" id="filter">
            <select matNativeControl required (change)="completenessSelect($event.target.value)">
                <option value="All">All</option>
                <option value="complete">Complete</option>
                <option value="incomplete">Incomplete</option>
            </select>
          </mat-form-field>
        </div>
    </form>
</div>
<br>
<div>
    <table mat-table #table matSort class="mat-elevation-z8" [dataSource]="dataSource" matSortActive="sbu" matSortDirection="asc"> 
        <ng-container matColumnDef="sbuID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >SBU ID</th>
            <td mat-cell *matCellDef="let student">{{student.sbuID}}</td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
            <td mat-cell *matCellDef="let student">{{student.last}}</td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
            <td mat-cell *matCellDef="let student">{{student.first}}</td>
        </ng-container>
        <ng-container matColumnDef="dept">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
            <td mat-cell *matCellDef="let student">{{student.dept}}</td>
        </ng-container>
        <ng-container matColumnDef="track">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Track</th>
            <td mat-cell *matCellDef="let student">{{student.track}}</td>
        </ng-container>
        <ng-container matColumnDef="coursePlan">
            <th mat-header-cell *matHeaderCellDef style="font-size:12pt">Course Plan</th>
            <td mat-cell *matCellDef="let student">
                <button mat-button class="coursePlanButton" style="background-color:lavender;font-family:Verdana">Suggest Course Plan</button>
                <button mat-button class="coursePlanButton" style="background-color:lavenderblush;font-family:Verdana">View Course Plan</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="satisfied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Satisfied</th>
            <td mat-cell *matCellDef="let student" style="color:green">{{student.satisfied}}</td>
        </ng-container>
        <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending</th>
            <td mat-cell *matCellDef="let student" style="color:goldenrod">{{student.pending}}</td>
        </ng-container>
        <ng-container matColumnDef="unsatisfied">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unsatisfied</th>
            <td mat-cell *matCellDef="let student" style="color:darkred">{{student.unsatisfied}}</td>
        </ng-container>
        <ng-container matColumnDef="validCoursePlan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Plan Validity</th>
            <td mat-cell *matCellDef="let student" [ngStyle]="{'color': getColor(student.validCoursePlan)}">{{student.validCoursePlan}}</td>
        </ng-container>
        <ng-container matColumnDef="gradYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Graduation Year</th>
            <td mat-cell *matCellDef="let student">{{student.gradYear}}</td>
        </ng-container>
        <ng-container matColumnDef="gradSemester">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Graduation Semester</th>
            <td mat-cell *matCellDef="let student">{{student.gradSemester}}</td>
        </ng-container>
        <ng-container matColumnDef="semesters">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Semesters in Program</th>
            <td mat-cell *matCellDef="let student">{{student.semesters}}</td>
        </ng-container>
        <ng-container matColumnDef="graduated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Graduated</th>
            <td mat-cell *matCellDef="let student" [ngStyle]="{'color': getColor(student.graduated)}">{{student.graduated}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="searchColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: searchColumns;"></tr>
    </table>
</div>