<div class="header">
    Student Search Page
    
    <button routerLink="/" routerLinkActive="active" class="btn" id="logout-btn">Logout</button>
    <button class="btn" id="home-btn">Home</button>
    <button routerLink="/addStudent" routerLinkActive="active" class="btn" id="add-btn">Add Student</button>
</div>
<div>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <input class="searchBar" type="text" placeholder="Search" name="name" ngModel>
            </form>
            <br>
          <mat-label id="label">Course Plan Validity</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="courseInvalid">Valid</option>
                <option value="courseValid">Invalid</option>
            </select>
          </mat-form-field>
          <mat-label id="label">Course Plan Completeness</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="courseValidity">Complete</option>
                <option value="courseCompleteness">Incomplete</option>
            </select>
          </mat-form-field>
          <mat-label id="label">Graduation Semester</mat-label>
          <mat-form-field id="filter">
            <select matNativeControl required>
                <option value="semesterFall">Fall</option>
                <option value="semesterSpring">Spring</option>
            </select>
          </mat-form-field>
        <mat-label id="label">Graduation Year</mat-label>
        <mat-form-field id="filter">
          <select matNativeControl required>
              <option value="yearAscending">Ascending</option>
              <option value="yearDescending">Descending</option>
          </select>
        </mat-form-field>
        <!-- </mat-form-field>
          <mat-label id="label">Choose a date</mat-label>
          <mat-form-field id="filter">
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
        </div>
    </form>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>SBU ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Dept</th>
                <th>Track</th>
                <th>Course Plan</th>
                <th>Satisfied</th>
                <th>Pending</th>
                <th>Unsatisfied</th>
                <th>Graduation Semester</th>
                <th>Graduation Year</th>
                <th>Semesters in Program</th>
                <th>Graduated</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let student of students">
                <th>{{student.sbuID}}</th>
                <th>{{student.last}}</th>
                <th>{{student.first}}</th>
                <th>{{student.dept}}</th>
                <th>{{student.track}}</th>
                <th><button type="button">Course Plan</button> <br> <button type="button">Suggest Course Plan</button></th>
                <th>{{student.satisfied}}</th>
                <th>{{student.pending}}</th>
                <th>{{student.unsatisfied}}</th>
                <th>{{student.gradSemester}}</th>
                <th>{{student.gradYear}}</th>
                <th>{{student.semesters}}</th>
                <th>{{student.graduated}}</th>
            </tr>
        </tbody>
    </table>
</div>