/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.ngb-dp-month  {
    display: none;
}

.ngb-dp-arrow-btn {
    display: none;
}

.mat-sort-header-content {
    margin: auto !important;
    font-size: 12pt !important;
}