<div class="header">
    Course Information
    
    <button routerLink="/" routerLinkActive="active" class="btn" id="logout-btn">Logout</button>
    <button routerLink="/gpd" class="btn" id="home-btn">Home</button>
</div>

<div>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="searchBar" type="text" placeholder="Search">
          <mat-form-field appearance="fill">
            <select matNativeControl>
                <option label="Select Department"></option>
                <option value="CSE">CSE</option>
                <option value="AMS" >AMS</option>
                <option value="BMI">BMI</option>
                <option value="ESE">ESE</option>
            </select>
          </mat-form-field>
        </div>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th>Course Identifier</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course in Courses">
                <th>{{department.name}}</th>
                <th>{{course.course_identifier}}</th>
                <th>{{course.course_name}}</th>
            </tr>
        </tbody>
    </table>
</div>