<div class="header">
    Course Information
    
    <button routerLink="/" routerLinkActive="active" class="btn" id="logout-btn">Logout</button>
    <div *ngIf="whosLoggedIn != 'Student'; else elseBlock">
        <button class="btn" id="home-btn" routerLink="../gpd">Home</button>
    </div>
    <ng-template #elseBlock>
        <button class="btn" id="home-btn" routerLink="../student">Home</button>
    </ng-template>
</div>

<div>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="searchBar" type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
                <option value="department" disabled selected>Department</option>
                <option value="cse">CSE</option>
                <option value="ams" >AMS</option>
                <option value="bio">BIO</option>
                <option value="ese">ESE</option>
            </select>
          </mat-form-field> -->
        </div>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th>Course Identifier</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses | paginate: {id: 'listing_pagination', itemsPerPage: 25, currentPage: page, totalItems: totalRecords }" mat-raised-button (click)="openDialog(course)">
                <!-- <td>{{course}}</td> -->
                <td>{{course.department}}</td>
                <td>{{course.courseID}}</td>
                <td>{{course.courseName}}</td>
            </tr>
        </tbody>
        <div>
            <pagination-controls id="listing_pagination" maxSize="8" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
    </table>
</div>

